<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="statics/icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://i.imgur.com/KkFZ2jU.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://i.imgur.com/KkFZ2jU.png">
    <link rel="icon" type="image/ico" href="https://i.imgur.com/KkFZ2jU.png">
    <script data-ad-client="ca-pub-1869871910500106" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- hoterl -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1869871910500106"
     data-ad-slot="5620180469"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </body>
</html>
